<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <p class="card-category">Company Settings</p>
            </div>

            <div class="card-body">

                <nav mat-tab-nav-bar>
                    <a mat-tab-link routerLinkActive #company="routerLinkActive" [active]="company.isActive" [routerLinkActiveOptions]="{exact: true}"
                       [routerLink]="['/settings/company']">
                        <span class="nav-text"> Company</span></a>
                </nav>

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>
