/*
table {
    width: 100%;
}
*/
mat-table {
    min-width: 600px;
}
table tr:last-child {
    font-weight: bold;
}
.mat-cell {
    font-size: 12px;
   /* min-height: 48px;
    text-align: center;
    border-right: 1px solid grey;*/
}
.narration {
    min-width: 200px;
}
.date {
    min-width: 150px;
}
.header {
    background-color: transparent;
    padding: 0 5px;
    height: 20px;
}
.fx-spacer {
    flex: 1 1 auto;
}
