<h5 mat-dialog-title>Add Employee</h5>

<div class="d-flex spinner-container" *ngIf="loader">
    <mat-spinner [diameter]="40"></mat-spinner>
</div>

<mat-dialog-content class="mat-dialog-data" [formGroup]="form"  (ngSubmit)="createBranch()">

    <mat-form-field class="full-width">
        <input matInput formControlName="first_name" placeholder="First Name">
        <mat-error align="start" *ngIf="formErrors?.first_name" class="form__error">{{ formErrors.first_name }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput formControlName="last_name" placeholder="Last Name">
        <mat-error align="start" *ngIf="formErrors?.last_name" class="form__error">{{ formErrors.last_name }}</mat-error>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button class="mat-raised-button" [mat-dialog-close]="true">Close</button>
    <button class="mat-raised-button mat-primary" (click)="createBranch()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
