<div class="main-content">
  <div class="container-fluid">


      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                  <div class="card-header card-header-success">
                      <!--<div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>-->
                      <h4 class="card-title">{{current_branch?.name}}
                          <small></small>
                      </h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">business</i>
                          <a href="#pablo">Branch</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                  <div class="card-header card-header-success">
                      <!-- <div class="card-icon">
                           <i class="material-icons">store</i>
                       </div>-->
                      <h4 class="card-title">{{count_members}} / {{count_loans}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">people</i> Members / Loans
                      </div>
                  </div>
              </div>
          </div>
     <!--     <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title">{{count_loans}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">attach_money</i> Loans
                      </div>
                  </div>
              </div>
          </div>-->
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{count_loans_over_due}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i> Overdue Loans
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">{{countLoanApplications}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">attach_money</i> Pending Applications
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <!--  <div class="row">


         &lt;!&ndash; <div class="col-lg-7 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Due Today</h4>
                  </div>
                  <div class="card-body table-responsive">

                      <mat-table #table [dataSource]="loansDueTodayDataSource" matSort matSortActive="member_first_name" matSortDirection="desc" matSortDisableClear>

                          <ng-container matColumnDef="member_first_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_last_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_last_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_phone">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_phone}} </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="totalDue">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Due Amount </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.totalDue|number:'1.2'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_reference_number">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_reference_number}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_type_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> loan Type </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_type_name}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="loansDueColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: loansDueColumns;"> </mat-row>

                      </mat-table>

                  </div>
              </div>
          </div>&ndash;&gt;

             <div class="col-md-4">
                 <div class="card card-chart">
                     <div class="card-header card-header-success">
                         <div class="ct-chart" id="dailySalesChart"></div>
                     </div>
                     <div class="card-body">
                         <h4 class="card-title">Daily Sales</h4>
                         <p class="card-category">
                             <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                     </div>
                     <div class="card-footer">
                         <div class="stats">
                             <i class="material-icons">access_time</i> updated 4 minutes ago
                         </div>
                     </div>
                 </div>
             </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>-->

      <div class="row">


          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Due Today</h4>
                  </div>
                  <div class="card-body table-responsive">

                      <mat-table #table [dataSource]="loansDueTodayDataSource" matSort matSortActive="member_first_name" matSortDirection="desc" matSortDisableClear>

                          <ng-container matColumnDef="loan_officer">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Officer </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_officer_first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_first_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_last_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_last_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_phone">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_phone}} </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="totalDue">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Due Amount </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.totalDue|number:'1.2'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_reference_number">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_reference_number}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_type_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> loan Type </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_type_name}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="loansDueColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: loansDueColumns;"> </mat-row>

                      </mat-table>

                  </div>

                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">account_tree</i><span> Total: {{count_loans_due_today}} ...</span>
<!--
                          <i class="material-icons">cloud_download</i><a href="#"> Full Report.</a>
-->
                      </div>
                  </div>
              </div>
          </div>

          <!--   <div class="col-md-4">
                 <div class="card card-chart">
                     <div class="card-header card-header-success">
                         <div class="ct-chart" id="dailySalesChart"></div>
                     </div>
                     <div class="card-body">
                         <h4 class="card-title">Daily Sales</h4>
                         <p class="card-category">
                             <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                     </div>
                     <div class="card-footer">
                         <div class="stats">
                             <i class="material-icons">access_time</i> updated 4 minutes ago
                         </div>
                     </div>
                 </div>
             </div>-->
       <!--   <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>-->
        <!--  <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>-->
      </div>

      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Over Due</h4>
                  </div>
                  <div class="card-body table-responsive">

                      <mat-table #table [dataSource]="loansOverDueDataSource" matSort matSortActive="member_first_name" matSortDirection="desc" matSortDisableClear>

                          <ng-container matColumnDef="loan_officer">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Officer </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_officer_first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_first_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_last_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_last_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_phone">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member_phone}} </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="totalDue">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Due Amount </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.totalDue|number:'1.2'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_reference_number">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_reference_number}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_type_name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> loan Type </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_type_name}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="loansDueColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: loansDueColumns;"> </mat-row>

                      </mat-table>

                  </div>

                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">account_tree</i><span> Total: {{count_loans_over_due}} ...</span>
<!--
                          <i class="material-icons">cloud_download</i><a href="#"> Full Report.</a>
-->
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning">
                      <!--<div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>-->
                      <h4 class="card-title">{{activeLoans}} / {{loansSum}}
                          <small></small>
                      </h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">attach_money</i>
                          <a href="#pablo">Active Loans</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success">
                      <!-- <div class="card-icon">
                           <i class="material-icons">store</i>
                       </div>-->
                      <h4 class="card-title">{{loansSum}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">attach_money</i> Total Loans
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{totalOverDue}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i> Overdue Amount
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">{{countLoanApplications}} / {{applicationsSum}}</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">attach_money</i> Pending Applications
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Loan Applications</h4>
                  </div>
                  <div class="card-body table-responsive">

                      <mat-table #table [dataSource]="loanApplicationsDataSource" matSort matSortActive="application_date" matSortDirection="desc" matSortDisableClear>

                          <ng-container matColumnDef="application_date">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.application_date| date: 'dd/MM/yyyy'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="member_id">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Member </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member?.first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="amount_applied">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Amount Applied </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.amount_applied|number:'1.2'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_type_id">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.loan_type?.name}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="loanApplicationColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: loanApplicationColumns;"> </mat-row>

                      </mat-table>

                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Payments</h4>
                  </div>
                  <div class="card-body table-responsive">

                      <mat-table #table [dataSource]="latestPaymentsDataSource" matSort matSortActive="payment_date" matSortDirection="desc" matSortDisableClear>

                          <ng-container matColumnDef="member_id">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Member </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.member?.first_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="amount">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.amount|number:'1.2'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="method_id">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Method </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.payment_method?.display_name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="payment_date">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.payment_date}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="paymentColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: paymentColumns;"> </mat-row>

                      </mat-table>

                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
