<h5 mat-dialog-title></h5>
<h5 mat-dialog-title> </h5>

<div class="d-flex spinner-container" *ngIf="loader">
    <mat-spinner [diameter]="40"></mat-spinner>
</div>

    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Assign permissions to : {{ role?.name }}</h4>
            <p class="card-category">{{ role?.display_name }}</p>
        </div>

        <form [formGroup]="formCheck" (ngSubmit)="submit()">

            <!-- our form array of checkboxes will go here -->
            <label formArrayName="permissions" *ngFor="let permission of formCheck.controls.permissions.controls; let i = index">
                <input type="checkbox" [formControlName]="i">
                {{permissions[i].name}}
            </label>

            <button>submit</button>
        </form>


        <div class="card-body table-responsive">
            <table class="table table-hover">

                <tbody>
                <tr>
                    <td><mat-checkbox>add-user</mat-checkbox></td>
                    <td><mat-checkbox>add-user</mat-checkbox></td>
                    <td><mat-checkbox>add-user</mat-checkbox></td>
                    <td><mat-checkbox>add-user</mat-checkbox></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>

<!--
<mat-dialog-content class="mat-dialog-data" [formGroup]="form"  (ngSubmit)="update()">

    <mat-form-field class="full-width">
        <input matInput formControlName="name" placeholder="Name">
        <mat-error align="start" *ngIf="formErrors?.name" class="form__error">{{ formErrors.name }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width"  color="accent">
        <textarea  formControlName="display_name" matInput #display_name placeholder="Display Name" maxlength="150" rows="5"></textarea>
        <mat-hint align="end">{{display_name.value.length}} / 150</mat-hint>
        <mat-error align="start" *ngIf="formErrors?.display_name" class="form__error">{{ formErrors.display_name }}</mat-error>
    </mat-form-field>

</mat-dialog-content>
-->

<mat-dialog-actions align="center">
    <button mat-button class="mat-raised-button" [mat-dialog-close]="true">Close</button>

    <button class="mat-raised-button mat-primary" (click)="update()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
