<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Loans</h4>
                    </div>
                    <div class="card-body">

                        <div class="row search-form-section">

                            <div class="col-12">
                                <mat-form-field class="search-form-field">
                                    <input matInput #search placeholder="Filter" autocomplete="off" [disabled]="meta?.total===0">
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="search.value" (click)="clearSearch()">
                                        <mat-icon>close</mat-icon></button>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="table-responsive">

                            <mat-table #table [dataSource]="dataSource" matSort matSortActive="amount_approved" matSortDirection="desc" matSortDisableClear>

                                <ng-container matColumnDef="member_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Member </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.member?.first_name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loan_reference_number">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ref Number </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.loan_reference_number}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amount_approved">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.amount_approved|number:'1.2'}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loan_type_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.loanType?.name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="repayment_period">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Period </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.repayment_period}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="balance">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Balance </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.balance}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="next_repayment_date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Next Cycle Due </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.next_repayment_date}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amortization">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Amortization </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                    <button mat-raised-button type="button" matTooltip="Amortization Schedule" [matTooltipPosition]="'above'"
                                            (click)="amortizationDialog(row)" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">attach_money</i>
                                    </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef> Details  </mat-header-cell>

                                    <mat-cell *matCellDef="let row" class="button-row">
                                        <button mat-raised-button routerLink="{{row.id}}" (click)="onSelected(row)" type="button" matTooltip="View Loan Details" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <mat-icon color="primary">visibility</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelected(row)"> </mat-row>
                            </mat-table>
                            <span *ngIf="meta?.total===0">No Data</span>

                            <div class="d-flex justify-content-center spinner-container" *ngIf="(dataSource?.loading$ | async) || loader">
                                <mat-spinner [diameter]="40"></mat-spinner>
                            </div>

                            <mat-paginator #pagination
                                           [length]="meta?.total"
                                           [pageIndex]="pageIndex"
                                           [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                            </mat-paginator>

                        </div>
                    </div>
                </div>
            </div>

           <!-- <div class="col-md-5">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Loans</h4>
                    </div>
                    <div class="card-body">

                        <div class="row search-form-section">
                            <div class="col-12">
                                <mat-form-field class="search-form-field">
                                    <input matInput #search placeholder="Search" autocomplete="off" [disabled]="meta?.total===0">
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="search.value" (click)="clearSearch()">
                                        <mat-icon>close</mat-icon></button>
                                </mat-form-field>
                            </div>
                        </div>

                    <div class="row">
                        <div class="table-responsive">

                        <mat-table #table [dataSource]="dataSource" matSort matSortActive="date_approved" matSortDirection="asc" matSortDisableClear>

                            <ng-container matColumnDef="loan_reference_number">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Number </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.loan_reference_number}} </mat-cell>
                            </ng-container>

                          &lt;!&ndash;  <ng-container matColumnDef="member_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Member </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.member_id}} </mat-cell>
                            </ng-container>&ndash;&gt;

                            <ng-container matColumnDef="loan_type_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.loanType?.name}} </mat-cell>
                            </ng-container>

                         &lt;!&ndash;   <ng-container matColumnDef="duration_in_months">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Duration (months) </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.duration_in_months}} </mat-cell>
                            </ng-container>&ndash;&gt;

                            <ng-container matColumnDef="amount_approved">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Approved Amount </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.amount_approved}} </mat-cell>
                            </ng-container>

                          &lt;!&ndash;  <ng-container matColumnDef="date_approved">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Date Approved </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.date_approved}} </mat-cell>
                            </ng-container>&ndash;&gt;
&lt;!&ndash;
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef> Actions  </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="button-row">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="editDialog(row)">
                                            <mat-icon color="accent">edit</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                        <button mat-menu-item (click)="openConfirmationDialog(row)">
                                            <mat-icon color="warn">delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>
                                </mat-cell>
                            </ng-container>&ndash;&gt;

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}"
                                     (click)="onSelected(row)"> </mat-row>

                        </mat-table>
                        <span *ngIf="meta?.total===0">No Data</span>

                        <div class="d-flex justify-content-center spinner-container" *ngIf="(dataSource?.loading$ | async) || loader">
                            <mat-spinner [diameter]="40"></mat-spinner>
                        </div>

                        <mat-paginator #pagination
                                       [length]="meta?.total"
                                       [pageIndex]="pageIndex"
                                       [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                        </mat-paginator>

                    </div>
                    </div>
                    </div>
                </div>
            </div>-->

           <!-- <div class="col-md-7">
                <app-loan-detail></app-loan-detail>
            </div>-->

        </div>
    </div>
</div>
