<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <p class="card-category">
                    <i class="material-icons color-info">settings</i> System Settings
                </p>
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-2">

                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" [routerLink]="['/settings']">
                                    <span class="nav-text"> General </span></a>
                            </li>

                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['branch']">
                                    <span class="nav-text"> Branches </span></a>
                            </li>

                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['employee']">
                                    <span class="nav-text"> Employees </span></a>
                            </li>

                          <!--  <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['currency']">
                                    <span class="nav-text"> Currency </span></a>
                            </li>-->

                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['email']">
                                    <span class="nav-text"> Email </span></a>
                            </li>


                         <!--   <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['expense']">
                                    <span class="nav-text"> Expense </span></a>
                            </li>

                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['invoice']">
                                    <span class="nav-text"> Invoice </span></a>
                            </li>-->


                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['loan']">
                                    <span class="nav-text"> Loans </span></a>
                            </li>

                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['payment']">
                                    <span class="nav-text"> Payments </span></a>
                            </li>

                         <!--   <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['quote']">
                                    <span class="nav-text"> Quote </span></a>
                            </li>

                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['tax']">
                                    <span class="nav-text"> Tax </span></a>
                            </li>

                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['ticket']">
                                    <span class="nav-text"> Tickets </span></a>
                            </li>-->

                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" [routerLink]="['user']">
                                    <span class="nav-text"> Users & Roles </span></a>
                            </li>

                        </ul>

                    </div>
                    <div class="col-10">
                        <router-outlet></router-outlet>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
